In [5]:
a = "0123456789abcdef"
print(a[8])

8

In [6]:
a = "Hello World"
print(len(a))

11

In [8]:
a = 'hello world, I am oxxo, how are you?'
a_split = a.split(",")
print(a.split())
print(a_split)

['hello', 'world,', 'I', 'am', 'oxxo,', 'how', 'are', 'you?']
['hello world', ' I am oxxo', ' how are you?']

In [11]:
a = ['apple','banana','orange']
b = [1,2,3,4,5]
c = ['apple',1,2,3,['dog','cat']]
d = list('apple')
print(a)
print(b)
print(c)
print(d)

['apple', 'banana', 'orange']
[1, 2, 3, 4, 5]
['apple', 1, 2, 3, ['dog', 'cat']]
['a', 'p', 'p', 'l', 'e']

In [13]:
i = 2
i = i**2
print(i)

4

In [19]:
tuple1 = ("apple", "banana", "candy")
tuple2 = ("1", "2", "3")
print(tuple1 + tuple2)

('apple', 'banana', 'candy', '1', '2', '3')

In [21]:
a = dict(name='oxxo', age=18, eat=['apple','banana'])
print(a)
print(type(a))

{'name': 'oxxo', 'age': 18, 'eat': ['apple', 'banana']}
<class 'dict'>

In [24]:
a = set()
b = set([1,2,3,4,5,1,2,3,4,5])
c = set({'x':1,'y':2,'z':3})
d = set('hello')
print(a)
print(b)
print(c)
print(d)

set()
{1, 2, 3, 4, 5}
{'y', 'x', 'z'}
{'l', 'e', 'h', 'o'}